<!-- Footer -->
	<footer class="footer">
		<!-- Your Company Name -->
		<%= image_tag 'logo-icon', class: "footer-logo" %>
		<!-- Copyright -->
		<p class="copyright normal">Copyright © 2016 All Rights Reserved. Spinwashlounge.com</p>
		<p class="white normal">Dev by <a href="yummlabs.com">yummlabs.com</a></p>
	</footer><!-- End Footer -->