<!-- Navigation -->
<section id="navigation" class="not-visible-nav white-nav">
  <!-- Navigation Inner -->
  <div class="nav-inner">
    <!-- Site Logo -->
    <div class="site-logo">
      <a href="#home" class="scroll logo">
        <!-- Your Logo -->
        <img src="assets/logo.png" alt="logo" />
      </a>
    </div><!-- End Site Logo -->
    <a class="mini-nav-button dark"><i class="fa fa-bars"></i></a>
    <!-- Navigation Menu -->
    <div class="nav-menu">
      <ul class="nav uppercase condensed bold">
        <li><a href="#home" class="scroll">home</a></li>
        <li><a href="#about" class="scroll">about us</a></li>
        <li><a href="#services" class="scroll">services</a></li>
        <li><a href="#history" class="scroll">history</a></li>
        <li><a href="#portfolio" class="scroll">portfolio</a></li>
        <li><a href="#team" class="scroll">team</a></li>
        <li><a href="#prices" class="scroll">prices</a></li>
        <li><a href="shortcodes.html" class="scroll">Shortcodes</a></li>
        <li class="dropdown-toggle nav-toggle" ><a href="blog.html" class="scroll">blog<b data-toggle="dropdown" class="caret"></b></a>
          <!-- DropDown Menu -->
          <ul class="dropdown-menu uppercase gray-border">
            <li><a href="blog.html">Blog Full Width</a></li>
            <li><a href="blog_01.html">With Sidebar Right</a></li>
            <li><a href="blog_02.html">With Sidebar Left</a></li>
          </ul><!-- End DropDown Menu -->
        </li>
        <li><a href="#contact" class="scroll">contact</a></li>
      </ul>
    </div><!-- End Navigation Menu -->
  </div><!-- End Navigation Inner -->
</section><!-- End Navigation Section -->



