<!-- Navigation -->
<section id="navigation" class="not-visible-nav white-nav">
  <!-- Navigation Inner -->
  <div class="nav-inner">
    <!-- Site Logo -->
    <div class="site-logo">
      <a href="#home" class="scroll logo">
        <!-- Your Logo -->
        <img src="assets/logo.png" alt="logo" />
      </a>
    </div><!-- End Site Logo -->
    <a class="mini-nav-button dark"><i class="fa fa-bars"></i></a>
    <!-- Navigation Menu -->
    <div class="nav-menu">
      <ul class="nav uppercase condensed bold">
        <li><a href="#home" class="scroll">home</a></li>
        <li><a href="#about" class="scroll">about us</a></li>
        <li><a href="#services" class="scroll">services</a></li>
        <li><a href="#features" class="scroll">features</a></li>
        <li><a href="#contact" class="scroll">contact</a></li>
        <% if current_user && current_user.admin? %>
        <li class="dropdown-toggle nav-toggle"><a href="#" class="scroll">admin<b data-toggle="dropdown" class="caret"></b></a>
            <!-- DropDown Menu -->
            <ul class="dropdown-menu uppercase gray-border" style="display: none;">
              <li><%= link_to "Edit Information", edit_user_path(current_user) %></li>
              <li><a href="blog_01.html">With Sidebar Right</a></li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
            </ul><!-- End DropDown Menu -->
          </li>
          <% end %>
      </ul>
    </div><!-- End Navigation Menu -->
  </div><!-- End Navigation Inner -->
</section><!-- End Navigation Section -->



