<!DOCTYPE html>
<html>
<head>
  <title>Spinwashlounge</title>
   <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" type="image/png" href="images/favicon.png" />
</head>
<body>

<%= yield %>

</body>
</html>
